<div class="container">
  <div class="list-group">
    <a *ngFor="let item of buses" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"></h5>
      </div>
    </a>
  </div>
  <agm-map [latitude]="CurrentLat" [longitude]="CurrentLong" [zoom]=10>
    <agm-marker *ngFor="let item of myPlaces" [latitude]="item.latitude" [longitude]="item.longitude"></agm-marker>
  </agm-map>
</div>