<div class="container">
  <h1 class="my-4">My Places</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-text">
          <input (click)="ShowFavorites()" type="checkbox" aria-label="Checkbox for following text input">
          <label (click)="GetUserLocation()" style="margin: 0; margin-left: 10px; text-align: center;">
            Show Favorites</label>
        </div>
        <!-- <button type="button" class="btn btn-primary"><i style="margin-right: 10px" class="fas fa-plus-circle"></i>Add</button> -->
        <button style="margin-left: 15px" type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#myModal">
          <i style="margin-right: 5px" class="fas fa-plus-circle"></i>
          Add Place
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button (click)="ClearMessage()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form (submit)="onSubmit()">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input [(ngModel)]="newPlace.name" [ngModelOptions]="{standalone: true}" required name="name"
                      type="text" class="form-control" id="Name" aria-describedby="emailHelp" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Decription</label>
                    <input [(ngModel)]="newPlace.desc" [ngModelOptions]="{standalone: true}" name="desc" type="text"
                      class="form-control" id="Decription" placeholder="Decription">
                    <small id="emailHelp" class="form-text text-muted">Not Required</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Latitude</label>
                    <input [(ngModel)]="newPlace.latitude" [ngModelOptions]="{standalone: true}" name="latitude"
                      required type="text" class="form-control" id="Latitude" placeholder="Latitude">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Longitude</label>
                    <input [(ngModel)]="newPlace.longitude" [ngModelOptions]="{standalone: true}" name="longitude"
                      required type="text" class="form-control" id="Longitude" placeholder="Longitude">
                  </div>
                  <div class="form-group form-check">
                    <input [(ngModel)]="newPlace.isFavorite" name="isFavorite" [ngModelOptions]="{standalone: true}"
                      type="checkbox" class="form-check-input" id="isFavoriteCheck">
                    <label class="form-check-label" for="isFavoriteCheck">Favorite</label>
                  </div>
                  <label>{{infoMessage}}</label>
                  <br>
                  <button type="submit" class="btn btn-primary">Add place</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group">
        <a *ngFor="let item of myPlaces | favoritesFilter:IsShowFavorite"
          class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.name}}</h5>
            <div>
              <button class="btn btn-link" (click)="ChangeStatus(item)">
                <small *ngIf="item.isFavorite">
                  <i class="fas fa-star"></i>
                </small>
                <small *ngIf="!item.isFavorite">
                  <i class="far fa-star"></i>
                </small>
              </button>
              <button class="btn btn-link" (click)="onDelete(item.id)">
                <i class="fas fa-times text-danger"></i>
              </button>
            </div>
          </div>
          <p class="mb-1">{{item.desc}}</p>
          <!-- <small>Donec id elit non mi porta.</small> -->
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <agm-map [latitude]="CurrentLat" [longitude]="CurrentLong" [zoom]=10>
        <agm-marker *ngFor="let item of myPlaces" [latitude]="item.latitude" [longitude]="item.longitude"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>