<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Buses</title>
</head>

<body>
  <div class="col-md-6">
    <select [(ngModel)]="busNumber" name="" id="">
      <option *ngFor="let item of buses" value="{{item['@attributes'].DISPLAY_ROUTE_CODE}}">{{item['@attributes'].DISPLAY_ROUTE_CODE}}</option>
    </select>
    <!-- <div class="list-group">
      <a *ngFor="let item of buses" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{item['@attributes'].BUS_ID}</h5>
        </div>
      </a>
    </div> -->
  </div>
  <div class="col-md-6">
    <agm-map [latitude]="CurrentLat" [longitude]="CurrentLong" [zoom]=10>
      <agm-marker *ngFor="let bus of buses | busNumberFilter:busNumber" [latitude]="bus['@attributes'].LATITUDE.replace(',','.')" [longitude]="bus['@attributes'].LONGITUDE.replace(',','.')">
        <agm-info-window>{{bus['@attributes'].DISPLAY_ROUTE_CODE}}</agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</body>

</html>