<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/"><i class="fas fa-map-marked-alt"></i>  Places</a>
  <div class="" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="my-places" routerLinkActive="active">My Places</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="search" routerLinkActive="active">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="buses" routerLinkActive="active">Buses</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <Footer>Test Footer</Footer> -->
